<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0125" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="laser_frame"/>
  </joint>

<link name="laser_frame">
  <inertial>
    <origin xyz="1.2109248960289589e-17 5.894502461572042e-17 0.07" rpy="0 0 0"/>
    <mass value="0.1891680745817563"/>
    <inertia ixx="0.000342" iyy="0.000342" izz="0.000631" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -0.0125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bot)/meshes/laser_frame.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -0.0125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bot)/meshes/laser_frame.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

    <gazebo reference="laser_frame">
        <material>Gazebo/Black</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>